extends layout
block title
  title Ricardo Marques
block content
  div.hero
    div.container
      nav
        ul
          li Home
          li Portfolio
          li 
            img(src='images/logo.png', alt='')
          li Resume
          li Contact me
  div.container
    div.title A little about me.
    div.content 
      p.
        Hi! My name is Ricardo Marques and I&#39;m a software engineer with a passsion for front-end / back-end development and anything web 
        related. All of this started when I was around 2 years old and would often sit and play for as long as I was 
        allowed. By the time I was 8 I was already the family&#39;s IT tech.
      p.
        At around 12 I started messing around with blogs, editing the HTML and having a blast doing it. The fact that I could build a page that 
        anyone could see by just typing it in their URL bar was mind blowing to me.
      p.
        I love building websites</b> whether they are sharp, clean and minimalist or complex and exuberant.
        Some of my hobbies are playing guitar, games (#pcmasterrace) and netflix watching sprees with the wife.
    div.divider
    div.title-right Latest work.
    div.content  
      ul 
       each item in results2
          li
            img(src='images/portfolio/#{item.image_path}')
            div.info
              span #{item.title}
                p #{item.description}