doctype html
html(lang="en")
  head

    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")  

    block title
      title Default title

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:600|Oswald:300|Open+Sans:300')
 
  body
    block content