extends layout
block title
  title R/M - Portfolio
block content
  link(rel='stylesheet', href='stylesheets/portfolio.css')
  div.content
    - if (typeof(results2)!=='undefined'){
      ul
        div#portfolioContainer.scene_element.scene_element--fadeinright
          each item in results2
            li
              img(src='images/portfolio/#{item.image_path}')
              div.info
                span
                  .itemTitle #{item.title}
                  p #{item.description}
                  a(class='button', href='/project/#{item.title}') See more
              div.curtain
    -}
