extends layout
block title
  title R/M - Resume
block content
  link(rel='stylesheet', href='stylesheets/resume.css')
  div.container
    div.content.scene_element.scene_element--fadeinright
      div.title What I love working with
      div.skillz
        ul.left
          li HTML5
            ul
              li Jade
          li CSS3
            ul
              li SASS
              li Bootstrap
          li Javascript
            ul
              li Jquery
              li Angular
              li Node
              li Express
        ul.right     
          li PHP 5
          li MySQL
          li Git
          li Adobe Creative Suite
            ul
              li Photoshop
              li Premiere Pro
          li Text editors
            ul
              li Sublime 2 <3
        div.clear
        div.download 
          a(href='/documents/Ricardo Almeida Marques.pdf' target='blank') Download .pdf
       