/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 12, 2015, 3:16:54 PM
    Author     : Ricardo
*/


/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


.scene_element {
  -moz-animation-duration: 0.25s;
  -moz-transition-timing-function: ease-in;
  -moz-animation-fill-mode: both;
  -webkit-animation-duration: 0.25s;
  -webkit-transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;

}

/** An element that fades in */
.scene_element--fadein {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn;
}

/** An element that fades in and slides up */
.scene_element--fadeinup {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeIn;
  animation-name: fadeInUp;
}

/** An element that fades in and slides from the right */
.scene_element--fadeinright {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeIn;
  animation-name: fadeInRight;
}

.is-exiting .scene_element {
  -webkit-animation-direction: alternate-reverse;
  -moz-animation-name: fadeIn;
  animation-direction: alternate-reverse;
}


*{
    margin:0;
    border:0;
    padding:0;
}

a{
  text-decoration: none;
  color:inherit;
}

html,body{
  height: 100%;
  min-width:250px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.wrapper{
  min-height:100%;
  margin:0 auto -10px;
}


.hero{
  -webkit-user-select: none;       
  -moz-user-select: none;
  -ms-user-select: none; 
  -o-user-select: none;
  user-select: none;
  overflow:hidden;
  max-height:60vmin;

}

.heroImg{
  background:url('../images/chicago.jpg') center;
  background-repeat: no-repeat;
  background-size:cover;
  height:60vmin;
  z-index:-1;
  margin-top:30vmin;
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

#announcement{
  font-family: 'Raleway';
  color:#EEE;
  font-size:2vmin;
  max-width:80%;
  position:absolute;
  top:30vmin;
  z-index: 2;
  left:50%;
  -moz-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
  transform: translate(-50%, -30%);
  text-align: center;
  letter-spacing: 3px;

}

#announcement h1{
  font-family:'Oswald';
  font-size:3em;
  border-bottom:2px solid white;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

#announcement p{
  font-size:1em;
  margin-top:10px;
  letter-spacing: 5px;
}


#scrollDown{
  z-index:3;
  position:absolute;
  width:50px;
  height:50px;
  background-color:white;
  border-radius:50%;
  background-image:url('../images/arrow.svg');
  background-size:20px 20px;
  background-repeat:no-repeat;
  background-position: 12px center;
  top:60vmin;
  left:50%;
  -moz-transform: translate(-50%, -30%) rotate(90deg);
  -ms-transform: translate(-50%, -30%) rotate(90deg);
  -webkit-transform: translate(-50%, -30%) rotate(90deg);
  transform: translate(-50%, -30%) rotate(90deg);
  cursor:pointer;
  -webkit-transition:all 100ms linear;
  -moz-transition:all 100ms linear;
  -ms-transition:all 100ms linear;
  transition:all 100ms linear;
}

.container{
  width:90%;
  max-width:1000px;
  margin:0 auto;

}


/*--------- NAVIGATION
-----------------------------------------------------------------------------------------------*/

nav{
  z-index:4;
  font-family: 'Oswald', sans-serif;
  font-size:1.1em;
  color:#EEE;
  width:100%;
  height:88px;
  position:fixed;
  top:0;
  text-align:center;
  background-color:#222;
  -webkit-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.23);
  box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.23);
  -webkit-transition: all 150ms ease-in-out; 
  -moz-transition: all 150ms ease-in-out; 
  -ms-transition: all 150ms ease-in-out; 
  transition:all 150ms ease-in-out;
 }

#mobileLogo{
  display:none;
}

#mobileMenu{
  display:none;
}

#hamburger{
  display:none;
}

li.logo{
  font-family: 'Open Sans', sans-serif;
  font-size:2.5em;
  letter-spacing:-1px;
  margin-top:-3px;
  width:80px;
  }

li.logo span{
  letter-spacing:-4px;
}

nav>ul{
  padding:10px 0px 0px 0px;
  margin:0 auto;
  -webkit-transition: all 150ms ease-in-out; 
  -moz-transition: all 150ms ease-in-out; 
  -ms-transition: all 150ms ease-in-out; 
  transition:all 150ms ease-in-out;
  margin-left:20px;
}

nav>ul>li{
  text-decoration:none;
  list-style:none;
  margin-right:80px;
  display:inline-block;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: background-color 150ms ease-in-out; 
  -moz-transition: background-color 150ms ease-in-out; 
  -ms-transition: background-color 150ms ease-in-out; 
  transition:background-color 150ms ease-in-out;
}


nav>ul>li>.border-bot{
  width:0px;
  height:2px;
  background:#f9a33e;
  -webkit-transition:all 200ms cubic-bezier(1, -0.01, 0, 1.55);
  -moz-transition:all 200ms cubic-bezier(1, -0.01, 0, 1.55);
  -ms-transition:all 200ms cubic-bezier(1, -0.01, 0, 1.55);
  transition:all 200ms cubic-bezier(1, -0.01, 0, 1.55);

}

nav>ul>li:hover .border-bot{
  width:100%;
  margin-left:0px;  
}

nav>ul>li:last-of-type{
  margin-right:0px;
}

nav>ul img{
  width:80px;
  
}

/*--------- MAIN CONTENT
-----------------------------------------------------------------------------------------------*/

.title{
  font-size:1.2em;
  margin-top:50px;
  margin-bottom:50px;
  font-family: 'Raleway', sans-serif;
}

.right{
  text-align:right;
}

.content{
  z-index:3;
  font-family: 'Open Sans', sans-serif;
  font-size:0.85em;
  line-height: 1.8em;
  width:100%;    
  text-align:justify;
  margin-bottom:25px;
}

.divider{
  width:100%;
  height:1px;
  display:inline-block;
  margin-top:70px;
  background-color:#d9d9d9;    
}

/*--------- LATEST WORK
-----------------------------------------------------------------------------------------------*/

.content ul li img{
  width:100%;
  -webkit-transition: opacity 150ms ease-in-out; 
  -moz-transition: opacity 150ms ease-in-out; 
  -ms-transition: opacity 150ms ease-in-out; 
  transition:opacity 150ms ease-in-out;
  margin-bottom:-7px;
}

.content ul{
  list-style:none;
}

.content ul li{
  display:inline-block;
  width:49%;
  position:relative;
  overflow:hidden;
  text-align:center;
  padding:0;
  margin-bottom:15px;
}

.curtain{
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  -webkit-transition: opacity 150ms ease-in-out; 
  -moz-transition: opacity 150ms ease-in-out; 
  -ms-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out; 
  background-color:#FFF;
  opacity:0;
  border:3px solid #555;
  box-sizing:border-bot;
  outline: 2px solid #777;
  outline-offset: -6px;
}

.content ul li:hover .curtain{
  opacity:1;
}

.content ul li .info{
  z-index:1;
  position:absolute;
  font-family: 'open sans', sans-serif;
  opacity:1;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.content ul li:hover .info{
  opacity:1;
}

.content ul li .info span{
  position:absolute;
  right:50%;
  bottom:50%;
  -webkit-transform:translate(50%,50%);
  -moz-transform:translate(50%,50%);
  -ms-transform:translate(50%,50%);
  transform:translate(50%,50%);
  -webkit-transition: all 150ms ease-in-out; 
  -moz-transition: all 150ms ease-in-out; 
  -ms-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-size:1.35em;
  line-height:1.3em;
  opacity:0;
}

.content ul li .info span p{
  margin-top:10px;
  font-size:0.7em;
  padding-bottom:15px;
  border-bottom:1px solid #111;
  margin-bottom:17px;
}

.content ul li:hover .info span{
  opacity:1;
}


.content ul li .info a{
  font-size:0.68em;
  font-family: 'Open Sans', sans-serif;
  border:2px solid #444;
  padding:3px 30px 4px 30px;
  text-decoration:none;
  
  -ms-transition: all 120ms ease-in-out;
  -moz-transition: all 120ms ease-in-out;
  -webkit-transition: all 120ms ease-in-out;
  transition: all 120ms ease-in-out;
}

.content ul li .info a:hover{
   background:#444;
   color:#EEE;
}

.container .content ul li:nth-child(odd){
  margin-right:2%;
}


/*--------- FOOTER
-----------------------------------------------------------------------------------------------*/

.push{
  height:130px;
}

.footer{
  font-family: 'Open Sans', sans-serif;
  font-size:0.8em;
  color:#AAA;
  background-color:#111;
  text-align:center;
  margin-top:-130px;
  height:130px;
}

.footer ul>li{
  text-decoration:none;
  margin-right:25px;
  display:inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align:center;
}

.footer ul>li:hover .border-bot{
  opacity:1;
}

.footer .border-bot{
  width:100%;
  height:1px;
  background:#AAA;
  -ms-transition:all 200ms ease-in-out;
  -webkit-transition:all 200ms ease-in-out;
  -moz-transition:all 200ms ease-in-out;
  transition:all 200ms ease-in-out;
  opacity:0;
}

.footer .navigation{
  position:absolute;
  margin-top:30px;
}

.footer p{
  position:absolute;
  margin-top:20px;
  letter-spacing:0.7px;
}

.footer .social-icons{
  float:right;
  margin-top:30px;
  text-align:right;
}

.footer .social-icons img{
  width:30px; 
  height:30px; 
  margin-top:-5px;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1);
  -ms-transition:all 50ms ease-in-out;
  -webkit-transition:all 50ms ease-in-out;
  -moz-transition:all 50ms ease-in-out;
  transition:all 50ms ease-in-out;
}

.footer .social-icons a{
  margin-right:5px;
  width:30px; 
  height:30px; 
}

.footer .social-icons a:last-child{
  margin-right:0px;
}

.footer .social-icons img:hover{
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}


.footer .email{
  margin-top:9px;
}

@media only screen and (max-width : 565px) {

  .footer{
    height:150px;
  }

  .footer .navigation{
    position:relative;
     margin:0 auto;    
     padding-top:10px;
  }

  .footer .border-bot{
    display:none;
  }

  .footer .social-icons{
    float:none;
    position:relative;
    display:inline-block;
    margin:0 auto;
    text-align: center;
    margin-top:20px;

  }

  .footer .social-icons .email{
    margin-top:-10px;
    position:relative;
  }

  .footer p{
    float:none;
    width:100%;
    position:relative;
    margin-top:10px;
  }

}

@media only screen and (max-width : 385px) {
 .footer .navigation li{
    display:inline;
    margin:0;
    padding:0;
    margin-right:8px;
    width:100%;
 }
  
  .footer .border-bot{
    display:none;
  }
  

}


/*--------- Hero sizings
-----------------------------------------------------------------------------------------------*/

@media only screen and (max-width : 1220px) {
  .hero img{
    margin-top:30vmin;
  }

}


@media only screen and (max-width : 980px) {
  .hero img{
    margin-top:30vmin;
  }

}

@media only screen and (max-width : 860px) {
  .hero img{
    margin-top:30vmin;
  }

}
/*
-------------------------------------------mobile menu*/

@media only screen and (max-width : 660px) {

  .wrapper{
    font-size:14px;
  }

  nav{
    z-index:2;
    font-family: 'Oswald', sans-serif;
    font-size:1.1em;
    color:black;
    width:100%;
    height:88px;
    top:0;
   }


  .heroImg, #scrollDown, #announcement{
    display:none;
  }


  .logo{
    display:none;
  }

  #mobileLogo{
    display:block;
    position:absolute;
    font-family: 'Open Sans', sans-serif;
    font-size:1.5em;
    top:50%;
    left:20px;
    color:#eee;
    -webkit-transform:translate(0%,-50%);
    -moz-transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
    transform:translate(0%,-50%);
  }

  #hamburger{
    position:absolute;
    top:50%;
    right:20px;
    height:30px;
    width:30px;
    display:block;
    -webkit-transform:translate(0%,-50%);
    -moz-transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
    transform:translate(0%,-50%);
    padding:2px;
    cursor:pointer;
  }

  #hamburger div{
    position:relative;
    display:block;
    top:0;
    left:0;
    margin-bottom:4px;
    height:7px;
    width:100%;
    background:#eee;;
    border-radius:1px;
  }

  #first, #second, #third{
    -ms-transition:all 100ms ease-in-out;
    -webkit-transition:all 100ms ease-in-out;-
    -moz-transition:all 100ms ease-in-out;
    transition:all 100ms ease-in-out;
  }

  .topBun{
    -ms-transform:rotate(45deg) scaleX(0.5);
    -moz-transform:rotate(45deg) scaleX(0.5);
    -webkit-transform:rotate(45deg) scaleX(0.5);
    transform:rotate(45deg) scaleX(0.5);
    margin-left:6px;
    margin-top:6px;
  }

  .middleBun{
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
    margin-top:-4px;
  }

  .bottomBun{
    -ms-transform:rotate(-45deg) scaleX(0.5);
    -moz-transform:rotate(-45deg) scaleX(0.5);
    -webkit-transform:rotate(-45deg) scaleX(0.5);
    transform:rotate(-45deg) scaleX(0.5);
    margin-left:-6px;
    margin-top:-18px;
  }

  .showMenu{
    max-height:200px;
    opacity:1;
  }

  nav>ul{
    z-index:-1;
    opacity:0;
    color:#eee;
    position:absolute;
    top:54px;
    width:100%;
    background:#222;
    margin:0;
    padding:0;
    box-sizing:border-box;
    -ms-transition:max-height 100ms ease-in-out;
    -webkit-transition:max-height 100ms ease-in-out;
    -moz-transition:max-height 100ms ease-in-out;
    transition:max-height 100ms ease-in-out;
    overflow:hidden;
    
  }


  nav>ul>li{
    text-decoration:none;
    list-style:none;
    cursor: pointer;
    width:100%;
    padding:10px 0px;
  }


  nav>ul>li a{
    display:inline-block;
    width:100%;
  }

  nav>ul>li a:hover{
    background-color:#444;
  }


  nav>ul>li>.border-bot{
    display:none;
  }

  .footer
  {
    font-size:11px;
  }


}