/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 12, 2015, 3:16:54 PM
    Author     : Ricardo
*/

/* font-family: 'Raleway', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Open Sans', sans-serif;*/

*{
    margin:0;
    border:0;
    padding:0;
}



.hero{
    background: url(../images/chicago.jpg) no-repeat bottom center fixed ; // need to fix for >1920px;
    height:600px;
    background-size:cover;
    overflow:hidden;
}

.hero-gradient{
    position:absolute;
    width:100%;
    background: white;
    -webkit-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.23);
-moz-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.23);
box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.23);
}

.container{
    width:90%;
    max-width:1000px;
    margin:0 auto;
}


nav{
    font-family: 'Oswald', sans-serif;
    font-size:1.1em;
    color:black;
    height:70px;
    
}

nav>ul{
   padding:0;
   text-align:center;
}

nav>ul>li{
    text-decoration:none;
    list-style:none;
    margin-right:80px;
    display:inline-block;
    vertical-align: middle;
    cursor: pointer;
}

nav>ul>li>.border-bot{
  width:0px;
  height:1px;
  background:black;
  margin-left:-10px;
  transition:all 100ms ease-in-out;
}

nav>ul>li:hover .border-bot{
   width:50%;
   margin:0 auto;
}

nav>ul>li:last-of-type{
   margin-right:0px;
}

nav>ul img{
    width:80px;
    height:80px;
    margin-top:15px;
}

.title{
    margin-top:70px;
    font-family: 'Raleway', sans-serif;
}

.right{
    text-align:right;
}

.content{
    margin-top:20px;
    font-family: 'Open Sans', sans-serif;
    font-size:0.85em;
    line-height: 180%;
    width:100%;    
}

.content ul li img{
  width:100%;
  margin-bottom:-7px;
}

.content ul{
  list-style:none;
}

.content ul li{
  display:inline-block;
  width:49%;
  position:relative;
  overflow:hidden;
  text-align:center;
}

.info{
  position:absolute;
  transition: all 120ms ease-in-out; 
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
  background:#35ecbf;
  color:white;
  overflow:hidden;
  text-align:center;
  font-family: 'Oswald', sans-serif;
  justify-content:center;
  display:flex;
  opacity:0; 
  transform:rotateZ(-45deg) translateX(-20%) translateY(-10%);
  height:180%;
  width:70%;
  padding:5%;
  border-right:20px solid white;
  border-left:20px solid white;
  -webkit-box-shadow: inset 0px 0px 27px 4px rgba(0,0,0,0.04);
  -moz-box-shadow: inset 0px 0px 27px 4px rgba(0,0,0,0.04);
  box-shadow: inset 0px 0px 27px 4px rgba(0,0,0,0.04);
}


.content ul li:hover .info{
  opacity:1;
  transform:rotateZ(-45deg) translateX(100px) translateY(-100px); 
}

.content ul li .info span{
  align-self:center;
  font-size:1.8em;
  line-height:1.3em;
  transform:rotateZ(45deg) translateX(10px) translateY(-10px) ;
}

.content ul li .info span p{
  margin-top:10px;
  align-self:center;
  font-style:normal;
  font-size:0.7em;
  padding-bottom:15px;
  border-bottom:2px solid white;
  margin-bottom:17px;
}

.content ul li .info a{
  color:white;
  font-size:0.6em;
  font-family: 'Open Sans', sans-serif;
  border:2px solid white;
  padding:3px 20px 4px 20px;
  text-decoration:none;
  border-radius:12px;
  transition: all 50ms ease-in-out;
}

.content ul li .info a:hover{
   background:white;
   color:black;
}

.content ul li:nth-child(odd){
  margin-right:2%;
}

.content ul li:nth-child(2n-1){
  margin-top:1%;
}

.divider{
    width:100%;
    height:1px;
    display:inline-block;
    margin-top:70px;
    background-color:#d9d9d9;    
}